body {
  background: url("/glasses2.jpg");
  background-size: cover;
}

.App {
  background-color: rgba(250,250,250,.5) ;
  max-width: 800px;
  margin: 0 auto;
  padding: 5px 20px;
}

.flex-container-row{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.flex-container-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}