/* body {
  background-image: url("glasses.jpg")
} */

.App {
  max-width: 800px;
  margin: 0 auto;
}

.flex-container-row{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.flex-container-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}